.footer__sticky {
  width: 100%;
  font-size: 12px;
  background-color: var(--white);
  position: sticky;
  top: 100%;
  border-top: 1px solid var(--divider-color);
}
.footer__container {
  display: flex;
  width: 100%;
  gap: 56px;
  max-width: var(--max-width);
  margin: auto;
  padding-top: 32px;
  padding-bottom: 16px;
}
